.header-wrapper, .footer-wrapper{background: #b5b5b5;}
.headerTitle{color: #FFF;text-shadow: 2px 2px 2px #353535;}
.contentBody{min-height: 500px;}

.panel-default{background: #f1f1f1;border: 1px solid #D0D0D0;border-radius: 5px;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;}
.panel-heading{ padding: 10px;}
.panel-body{background: #FFF; border-radius: 0 0 5px 5px;padding: 10px;}

.errorMessageWrapper ul{margin: 0;}

.form-horizontal select#groups_users{padding: 3px;display: block; width: 100%; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem;  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}